*{
    margin: 0;
}
::-webkit-scrollbar{
    display: none;
}
main{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
}
.holder1{
    background-image: ;
}
section{
    display: flex;
}