* {
	margin: 0;
}
::-webkit-scrollbar {
	display: none;
}
:root{
    --DarkBlue: hsl(240, 38%, 20%);
    --GrayishBlue: hsl(240, 18%, 77%);
}
@font-face {
    font-family: inter;
    src: url(/fonts/Inter[slnt\,wght].ttf);
}
main {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100vh;
    font-family: inter;
}
.holder1 {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: row;
	width: 90%;
}
.quotes {
	/*left: 190px;
	top: 140px;*/
	position: absolute;
}
.bg {
	position: absolute;
	z-index: -1;
	right: 5px;
}
.text-left{
    z-index: 1;
}
h1{
    padding-bottom: 15px;
    font-size: 32px;
    font-weight: 300;
    color: var(--DarkBlue);
    width: 105%;
}
.bold{
    font-weight: 600;
    color: var(--DarkBlue);
}
.lighty{
    color: var(--GrayishBlue);
}
.arrow{
display: flex;
background-color: white;
border:1px solid var(--GrayishBlue);
border-radius: 100vmax;
width: 6%;
justify-content: space-between;
position: absolute;
/*bottom: 30px;
right: 430px;*/
}
.prev,.next{
    cursor: pointer;
}
.occupation{
    display: flex;
    justify-content: center;
    gap: 10px;
}
@media only screen and (min-width:320px) {
    main{
    padding-top: 100px;
    height: fit-content;
    }
    .holder1{
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin-top: -54px;
    }
    .tanya{
        width: 80%;
        height: 40vh;
    }
    .bg{
        width: 90%;
        top: 20px;
    }
    .arrow{
        width: 15%;
        padding: 10px;
        top: 44%;
        z-index: 1;
    }
    .prev,.next{
        width: 20%;
        height: 2.5vh;
    }
    .quotes{
    left: 40%;
	top: 59%;
    width: 18%;
    }
    .text-left{
        width: 95%;
        padding-top: 80px;
    }
    h1{
        font-size: 16px;
        text-align: center;
        width: 100%;
    }
    .occupation{
        flex-direction: column;
        gap: 0;
    }
    .lighty{
        font-size: 14px;
    }
    .wave{
        width: 100%;
        height: 12vh;
        position: absolute;
        z-index: -1;
        left: 0;
    }
    .attribution{
        z-index: 1;
        padding-top: 50px;
    }
}
